
@{
    ViewBag.Title = "Project";
}

<div class="shell">
    <h2>Completed</h2>
    <div class="row">
        <div class="col-lg-6">
            <h2 class="text-center"><a href="@Url.Action("SmallBusinessProject", "Project")" class="btn btn-primary">Small Business Project</a></h2>
            <img src="~/Content/image/frontend.jpg" class="img-thumbnail " />
        </div>
        <div class="col-lg-6">
            <h2 class="text-center"><a href="@Url.Action("FinalPorject", "Project")" class="btn btn-primary">Job Board</a></h2>
            <img src="~/Content/image/mvc.jpg" class="img-thumbnail" />
        </div>
        <div class="col-lg-3">
            <h2 class="text-center"><a href="@Url.Action("ATM", "Project")" class="btn btn-primary">ATM</a></h2>
            <img src="~/Content/image/c.jpg" class="img-thumbnail" />
        </div>
    </div>
    <h2>In Progress</h2>
    <div class="row">
        <div class="col-lg-6">
            <h2 class="text-center"><a href="@Url.Action("StoreFrontLAB", "Project")" class="btn btn-primary">Store Front LAB</a></h2>
            <img src="~/Content/image/mvc.jpg" class="img-thumbnail" />
        </div>
        <div class="col-lg-3">
            <h2 class="text-center"><a href="@Url.Action("Dungeon", "Project")" class="btn btn-primary">Dungeon</a></h2>
            <img src="~/Content/image/c.jpg" class="img-thumbnail" />
        </div>
    </div>
    <h2>Future</h2>
    <div class="row">
        <div class="col-lg-3">
            <img src="~/Content/image/react.jpg" class="img-thumbnail" />
        </div>
        <div class="col-lg-3">
            <img src="~/Content/image/api.jpg" class="img-thumbnail" />
        </div>
    </div>
</div>